<% if (!locals.todoToUpdate) { 
    method = "POST"; 
    action = "/api/todo"; 
    editing = false;
    todoToUpdate = null;
} else { 
	method= "PUT"; 
    action= "/api/todo/" + todoToUpdate.id; 
    editing = true; 
} 
%>

    <div class="row">
        <div class="col-md-6">
            <h3><%= editing ? "Edit Todo" : "Create Todo"; %></h3>
            
            <form action="<%=action%>" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="author">Author</label>
                    <div class="col-sm-9">
                        <% if (todoToUpdate) { %>
                            <input type="text" name="author" class="form-control" id="author" value="<%= todoToUpdate.author %>" placeholder="Todo Author" />
                        <% } else { %>
                            <input type="text" name="author" class="form-control" id="author" placeholder="Todo Author" />
                        <% } %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="title">Title</label>
                    <div class="col-sm-9">
                        <% if (todoToUpdate) { %>
                            <input type="text" name="title" class="form-control" id="title" value="<%= todoToUpdate.taskTitle %>" placeholder="Todo Title" />
                        <% } else { %>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Todo Title" />
                        <% } %>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="description">Description</label>
                    <div class="col-sm-9">
                        <% if (todoToUpdate) { %>
                            <input type="text" name="description" class="form-control" id="description" value="<%= todoToUpdate.taskDescription %>" placeholder="Todo Description" />
                        <% } else { %>
                            <input type="text" name="description" class="form-control" id="description" placeholder="Todo Description" />
                        <% } %>
                    </div>
                </div>
                
                <% if (editing) { %>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="complete">Completed or Open</label>
                    <div class="col-sm-9">
                        <% if (todoToUpdate.status === "open") { %>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="radio1" value="open" checked>Open
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="radio2" value="completed"> Completed
                                </label>
                            </div>
                        <% } else { %>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="radio1" value="open">Open
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio" id="radio2" value="completed" checked> Completed
                                </label>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% } %>

                
                <% if(method !== "POST") { %>
                    <input type="hidden" name="_method" value="<%=method%>" />
                <% } %>
                <button type="submit" class="btn btn-default col-md-offset-1" style="margin-bottom:20px;">Submit</button>
            </form>
        </div>
    </div>