<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a id="all-trigger" href="#">All Movies</a></li>
                <li><a id="popular-trigger" href="#">Most Popular Movies</a></li>
            </ul>
        </div>
    </nav>
    <% include ../partials/header %>
    <div class="container">
        <main class="row">
            <section class="col-md-8">
                <div class="entry-content" id="all">
                    <h2><span class="glyphicon glyphicon-film" aria-hidden="true"></span> All Movies</h2>
                    <hr />
                    <% if (all !== null) { %>
                        <% for (var i in all) { %>
                            <div class="entry_single">
                                <div class="col-md-8">
                                    <span class="badge"><%= Number(i)+1 %></span>
                                    <%= all[i].title %>
                                </div>
                                <div class="col-md-4">
                                    <%= all[i].rating %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    
                </div>
                <div class="entry-content hidden" id="popular">
                    <h2><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Most Popular Movies</h2>
                    <hr />
                    <ul>
                        <% if (popular !== null) { %>
                            <% for (var i in popular) { %>
                                <div class="entry_single">
                                    <%= popular[i].title %>
                                </div>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                
                
            </section>
            <section class="col-md-4">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a movie</h2>
                <hr />
                <form action="/signup" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signupname">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="signupname" class="form-control" id="signupname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signuppwd">Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="signuppwd" class="form-control" id="signuppwd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirmpwd">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="confirmpwd" class="form-control" id="confirmpwd"/>
                        </div>
                    </div>
                    <% if (createError) { %>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            <%= createError %>
                        </div>
                    <% } else if (createSuccess) { %>
                        <div class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                            <%= createSuccess %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-default col-sm-offset-3" style="margin-top: 10px">Create Account
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
            </section>

        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>